<h2 style="text-align:center;">Profile Page</h2>

<h3 style="text-align:center;">Welcome to your PROFILE</h3>



<label for='Genre'>Favorite Genre</label>
<select name='Genre' id="Genre">
    <option value="Country">Country</option>
    <option value="Pop">Pop</option>
    <option value="Rap">Rap</option>
    <option value="Rock">Rock</option>
</select>
<a href="/profile/<%= User.id %>/edit">Edit</a><br>
<a class='genre' href='/'>Pick A Genre</a>

<h1>
    <%= User.name %>
</h1>
<h1>
    <%= User.email %>
</h1>

<!-- crud implimentation
user bio and picture
delete profile
user account features -->