<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pick A Genre</title>
    <link rel="stylesheet" href="landing.css">
</head>

<body>
    <h1>Pick A Genre!</h1>
    <% if (!currentUser) { %>
        <li><a href="/auth/signup">Signup</a></li>
        <li><a href="/auth/login">Login</a></li>
        <% } else { %>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/profile">Profile</a></li>
            <% } %>
                <div class='corock'>
                    <div class='country'>
                        <a href="/country">
                            <img src='images/country.jpg'>
                        </a>
                    </div>
                    <div class='rock'>
                        <a href="/rock">
                            <img src='images/rock.jpeg'>
                        </a>
                    </div>
                </div>
                <div class='rapop'>
                    <div class='rap'>
                        <a href="/rap">
                            <img src='images/rap.jpg'>
                        </a>
                    </div>
                    <div class='pop'>
                        <a href="/pop">
                            <img src='images/pop.jpg'>
                        </a>
                    </div>
                </div>

</body>

</html>