h1 {
    text-align: center;
    color: darkred;
    margin-top: 25px;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background-image: url('images/background.jpeg');
    background-size: cover;
}

.corock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    margin: 50px auto;
    width: 800px;
    height: 275px;
    position: relative;
}
.rapop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    margin: 50px auto;
    width: 800px;
    height: 275px;
    position: relative;
}
.country {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    color: white
}
.country a {
    cursor: pointer;
}
.rock {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    color: white
}
.rock a {
    cursor: pointer;
}
.pop {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    color: white
}
.pop a {
    cursor: pointer;
}
.rap {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    color: white
}
.rap a {
    cursor: pointer;
}