<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Genres</title>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="../css/cards.css">
</head>

<body>

    <% if (!currentUser) { %>
        <li><a href="/auth/signup">Signup</a></li>
        <li><a href="/auth/login">Login</a></li>
        <% } else { %>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/profile">Profile</a></li>
            <% } %>
                <!-- START NAV -->

                <!-- END NAV -->

                <div class="container">
                    <div class="section">
                        <div class="columns">
                            <div class="column has-text-centered">
                                <h1 class="title" style="color: ghostwhite;">Pick Your Genre</h1><br>
                            </div>
                        </div>
                        <div class="tile is-ancestor">
                            <div class="tile is-4 is-vertical is-parent">
                                <div class="tile is-child box">
                                    <p class="title">One</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros,
                                        eu
                                        pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio
                                        quis feugiat
                                        facilisis.</p>
                                </div>
                                <div class="tile is-child box">
                                    <p class="title">Two</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros,
                                        eu
                                        pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio
                                        quis feugiat
                                        facilisis.</p>
                                </div>
                            </div>
                            <div class="tile is-parent">
                                <div class="tile is-child box">
                                    <p class="title">Three</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at
                                        erat pulvinar,
                                        at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida
                                        libero rhoncus
                                        ut. Morbi maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis
                                        semper odio
                                        felis ut quam.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="footer">
                    <div class="container">
                        <div class="content has-text-centered">
                            <div class="soc">
                                <a href="#"><i class="fa fa-github-alt fa-lg" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-youtube fa-lg" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
                            </div>
                            <p>
                                <strong>Bulma</strong> by <a href="http://jgthms.com">Jeremy Thomas</a>.
                                The source code is licensed <a
                                    href="http://opensource.org/licenses/mit-license.php">MIT</a>. <br>
                            </p>
                        </div>
                    </div>
                </footer>

                <script src="../js/cardsData.js"></script>

                <!-- Using Vue to populate cards to reduce redundant code -->
                <script>
                    var app = new Vue({
                        el: '#app',
                        data: {
                            cardData: cardsData
                        }
                    })

                </script>
</body>

</html>